<nav id="navbar" class="poppins-regular">
  <ul class="nav-list ">
    <li *ngIf="!user">
      <!-- no "!" -->
      <a class="nav-link glow-on-hover" routerLink="/">Home</a>
    </li>
    <li  *ngIf="!user">
      <a class="nav-link glow-on-hover" routerLink="/login">Login</a>
    </li>
    <li *ngIf="!user">
      <a class="nav-link glow-on-hover" routerLink="/register">Register</a>
    </li>
    <li *ngIf="!user">
      <a class="nav-link glow-on-hover" routerLink="/myprofile">User Page</a>
    </li>
    <li *ngIf="!user">
      <!-- no "!" -->
      <input class="search-bar poppins-regular " type="text" placeholder="Card name" />
    </li>
  </ul>

</nav>
