<nav
  id="navbar"
  class="poppins-regular navbar navbar-expand-lg"
>
  <div class="nav-container container">
    <img src="../../../assets/ygocardback.png" alt="" />
    <h1 class="cinzel-standard">The Millenium Index</h1>
    <ul class="nav-list">
      <li *ngIf="!user">
        <!-- no "!" -->
        <a class="nav-link glow-on-hover" routerLink="/">🃏 Card Database</a>
      </li>
      <li *ngIf="!user">
        <a class="nav-link glow-on-hover" routerLink="/login">👤 Login</a>
      </li>
      <li *ngIf="!user">
        <a class="nav-link glow-on-hover" routerLink="/register">➕ Register</a>
      </li>
    </ul>
  </div>
</nav>
