<div class="nav-container">
  <nav id="navbar" class="poppins-regular">
    <img
      src="../../../assets/ygocardback.png"
      alt=""
    />
    <h1>The Millenium Index</h1>
    <ul class="nav-list">
      <li *ngIf="!user">
        <!-- no "!" -->
        <a class="nav-link glow-on-hover" routerLink="/">Home</a>
      </li>
      <li *ngIf="!user">
        <a class="nav-link glow-on-hover" routerLink="/login">Login</a>
      </li>
      <li *ngIf="!user">
        <a class="nav-link glow-on-hover" routerLink="/register">Register</a>
      </li>
    </ul>
  </nav>
</div>
