// .myNav {
//     height: 4rem;
//     background-color: rgb(194, 69, 69);
//     display: block;
//     align-items: center;
//   }
//   img {
//     height: 4rem;
//     padding: 0.5rem;
//   }
//   ul {
//     color: #a558c8;
//     padding: 0;
//   }
//   li,
//   a {
//     display: inline-block;
//     margin: 0.5rem;
//     color: #a558c8;
//     text-decoration: none;
//     font-weight: 500;
//   }
  


#navbar {
  position: sticky;
  top: 0;
  z-index: 1;
    display: flex;
    justify-content: space-around;
    height: 4rem;
    position: sticky;
    text-decoration: none;
    font-size: 1rem;
    margin-inline: 2rem;
    margin-top: 10px;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    width: 100%;
  }

li{
    color: #736AF0;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    justify-content: baseline;
    }

a {
    text-decoration: none;
    color: #736AF0;
}

a:hover{
  text-decoration: underline;
  color: beige;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .search-bar{
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: beige;
    box-shadow: 2px 2px 0px 0px #736AF0;
    width: 50%;
  }

  .glow-on-hover {
    width: 500px;
    height: 100px;
    text-decoration: none;
    padding: 15px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 15px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}