// .container {
//     max-width: 800px;
//     margin: 0 auto;
//     padding: 20px;
//   }
.pagination-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}  
form {
  margin-bottom: 30px;
}

input{
  background-color: #000;
  padding: 10px;
  border-radius: 10px;
  border: solid black;
  color: beige;
  width: 500px;
}

  .pagination {
    text-align: center;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    /* font-weight: bolder; */
    background:transparent;
    color: beige;
    border: solid 2px;
    margin-inline: 10px;
    border-radius: 100px;
  }

  .header{
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
  }

    .card-container{
      display: flex;
      flex-wrap: wrap;
      margin-top: 2rem;
      margin-inline: 10rem;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      align-content: center;
    }

  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .card-image{
    box-shadow: 15px 15px 10px 0px rgba(123, 123, 123, 0.8274509804);
    width: 250px;
  }
  
main {
  position: relative;
}

.card p{
  justify-content: left;
}

  .card {
    background-color: rgb(157, 157, 157);
    color: rgb(25, 25, 25);
    display: flex;
    width: 20%;
    height: 900px;
    margin: 1em;
    padding: 25px;
    border-radius: 10px;
    text-align: left;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 15px 15px 10px 0px #736af056;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
  }
  
  .card-name{
    font-size: 2.1rem;
    margin: 0;
  }

  .card-type{
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
  }

  .card-description, .pend-desc, .pend-mon{
    font-size: 0.8rem;
    text-align: left;
    font-weight: bolder;
    margin-top: 30px;
  }

  .card-info{
    margin-bottom: 10px;
  }

  .card-button {
    display: flex;
    padding: 0.6rem;
    width: 30%;
    font-size: 1.5rem;
    text-decoration: none;  
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 50px;
  }

  .card-image-container{
    width: auto;
  }

  .glow-on-hover {
    // width: 220px;
    // height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

