<!-- Pagination Section -->
<main *ngIf="cards?.data" class="poppins-regular">
  <h1 class="header cinzel-standard">
    Yu-Gi-Oh! Tarding Card Game - Card Index
  </h1>
  <div class="pagination-container">
    <form
      class="glow-on-hover"
      #query="ngForm"
      (submit)="getCardbyQuery(query)"
    >
      <!-- no "!" -->
      <input
        name="query"
        id="query"
        ngModel
        class="search-bar poppins-regular"
        type="text"
        placeholder="Search for a card name"
      />
      <button style="display: none"></button>
    </form>
    <img
      class="eldlich"
      src="../../../assets/eldlich_the_golden_lord_alt__no_particles__by_matteste_dfpee3f-pre.png"
      alt=""
    />
    <img
      class="hugin"
      src="../../../assets/hugin_the_runick_wings___yugioh_master_duel_by_matteste_dfjsxtw-414w-2x.png"
      alt=""
    />
    <div class="button-container">
      <button
        class="pagination poppins-regular glow-on-hover"
        *ngFor="let page of displayPageNo"
        (click)="fetchByPage(page)"
      >
        {{ page }}
      </button>
    </div>
  </div>

  <div class="card-container">
    <div class="card card-body" *ngFor="let card of cards.data">
      <div class="card-image-container">
        <img
          class="card-image"
          [src]="card.card_images[0].image_url_small"
          alt="{{ card.name }}"
        />
      </div>
      <div class="card-info">
        <h1 class="card-name">{{ card.name }}</h1>
        <p class="card-type">{{ card.type }}</p>
        <p class="card-description" *ngIf="!card.pend_desc">{{ card.desc }}</p>
        <p class="pend-desc" *ngIf="card.pend_desc">{{ card.pend_desc }}</p>
        <p class="pend-mon" *ngIf="card.pend_desc">{{ card.monster_desc }}</p>
      </div>
      <a
        class="card-button poppins-regular glow-on-hover"
        [routerLink]="['/details', card.name]"
      >
        Card Details
      </a>
    </div>
  </div>
</main>
