<h1 class="poppins-regular">CARD LIST</h1>
<!-- Pagination Section -->
<div class="pagination">
  <button *ngFor="let page of displayPageNo" (click)="fetchCards(page)">
    {{ page + 1 }}
  </button>
</div>
<main *ngIf="cards?.data" class="poppins-regular">
  <div class="card-container">
    <div class="card card-body" *ngFor="let card of cards.data">
      <p class="card-type">{{ card.type }}</p>
      <h1 class="card-name">{{ card.name }}</h1>
      <!-- <img class="" src="{{ card.image_url_small }}" alt="" /> -->
      <button class="btn btn-dark">Card Details</button>
    </div>
  </div>
</main>
